[submodule "lib/discamb"]
	path = lib/discamb
	url = https://github.com/discamb-project/DiSCaMB.git
[submodule "data/MATTS"]
	path = data/MATTS
	url = https://github.com/discamb-project/MATTS.git
[submodule "lib/pybind11_json"]
	path = lib/pybind11_json
	url = https://github.com/pybind/pybind11_json.git
